* {
    font-family: 'Metropolis', 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

*.dark:not(.block input) {
    color: white !important;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#blokode {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#blokode.dark {
    background-color: #181a1b;
}

.context {
    height: max-content;
    width: max-content;
    position: fixed;
    z-index: 2;
    background-color: white;
    border: 1px solid #eee;
    background-color: white;
    border-radius: 5px;
}

.context .item {
    border-bottom: 1px solid #eee;
    padding: 10px;
    width: calc(100% - 20px);
}

button {
    height: fit-content;
    display: block;
    border: none;
    border-radius: 7px;
    background-color: #3C82F4;
    color: #FFF;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding: 10px 30px;
    font-size: 1rem;
    font-family: 'Metropolis Semi Bold', 'Spoqa Han Sans Bold', Arial, Helvetica, sans-serif;
    width: max-content;
}

.blocks {
    margin: 0px 20px 10px 20px;
    border: 1px solid #eee;
    height: calc(100% - 20px);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.red {
    background-color: #e43535;
}

.logo {
    margin: 10px 0 10px 20px;
    width: fit-content;
    padding: 20px;
}

.tools {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: white;
}

.tools.dark {
    background-color: #181a1b;
}

.runBlocks {
    margin: 10px;
    height: fit-content;
    width: min-content;
    overflow: unset !important;
    display: flex;
}

.logo a {
    font-family: 'Metropolis Semi Bold', 'Spoqa Han Sans Bold', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #3C82F4;
    text-decoration: none;
}

.logo .page {
    font-family: 'Metropolis Semi Bold', 'Spoqa Han Sans Bold', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: #000;
    text-decoration: none;
    margin-left: 5px;
}

.logo .page.dark {
    color: white;
}

.sidePanel {
    background-color: #fff;
    width: 100%;
    position: fixed;
    border: 1px solid #eee;
    border-radius: 0 0 10px 10px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    overflow-y: hidden;
    overflow-x: auto;
}

.sidePanel.dark {
    background-color: #181a1b;
    border: 1px solid rgb(39, 38, 38);
}

.block {
    cursor: default;
    border: none;
    border-radius: 0 10px;
    color: #FFF;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Metropolis', 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: #3C82F4;
    width: fit-content;
    margin: 10px 0 10px 0;
}

.block input {
    margin: 0 10px;
    cursor: default;
    border: none;
    border-radius: 0 10px;
    outline: none;
    height: 95%;
    -webkit-tap-highlight-color: transparent;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Metropolis', 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.hidden {
    display: none;
}

.dragged {
    transform: translateY(-100%);
    margin: 0;
}

.bloKategory div {
    border-radius: 0 10px;
    width: max-content;
    margin: 0 3px;
}

.bloKategory {
    display: flex;
}

.bloKategory.testCategory div div {
    background-color: #3C82F4;
}

.playground {
    height: fit-content;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 85%;
    margin: auto;
    top: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.calcText {
    width: fit-content;
    background-color: teal;
}

.line {
    width: 100%;
    align-items: center;
}

.line-number {
    background-color: #3C82F4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.blockList {
    display: none;
}

select {
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAASCAYAAABB7B6eAAABSUlEQVQ4EaXVu0rEUBDG8RVERfDaqIidhYXgE1jI4q2ysra0FXwLC9/B0guIoHY2dmKjhQgqCDYKFoJ3Bf3JSBbcJVl3N1MkZHLm/+XMd85JAW2YxAqu8amx+MY7LhPWbLALmMEZXhrjplY94xzTIbCNp9Rh+ZLxwVshsInHfKzU6jfshEARF6lD8iXDz2IIdGEND/l4ZdVhdnSmJwSaMIxDxErIG8E4wmiwCxFoxnjifB6RqL3CFFp+4aVLsh/mcZNjCrdYQHuJW3ZHBxZx34BIeLiM7jJo5QN6sYHYLLXGB3bRV8lLfcYgDuo4Nk4wkgrLSmIMpzVMITybi4WSxUrNxypAmH5XRST6voTOVMh/yTAM6xl+RN/3a+57lhgGEtDrn5l84bjuvlcRGUpE4l8Rp2Qc7xN19z1LIPLoxyr2kl3fWm186d0P39Wum+aRPmgAAAAASUVORK5CYII=) no-repeat calc(100% - 12px) 50%;
    background-size: 8px;
    outline-width: 0;
    display: block;
    border: none;
    border-radius: 7px;
    background-color: #3C82F4;
    color: #FFF;
    outline: none;
    cursor: pointer;
    padding: 0 30px;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-family: 'Metropolis Semi Bold', 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
    width: max-content;
}

select::-ms-expand {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 89px;
    height: 34px;
    vertical-align: middle;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}