* {
    font-family: 'Metropolis', 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: white;
    width: 90vw;
    height: fit-content;
    position: fixed;
    z-index: 2;
    border: 1px solid #eee;
    border-radius: 0 0 15px 15px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}

button {
    height: fit-content;
    display: block;
    border: none;
    border-radius: 7px;
    background-color: #3C82F4;
    color: #FFF;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding: 10px 30px;
    font-size: 1rem;
    font-family: 'Metropolis Semi Bold', 'Spoqa Han Sans Bold', Arial, Helvetica, sans-serif;
    width: max-content;
    margin: 0 20px;
}

#blokode {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerInner {
    display: flex;
    align-items: center;
}

.logo a {
    font-family: 'Metropolis Semi Bold', 'Spoqa Han Sans Bold', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.blockList {
    height: max-content;
    width: 100%;
    margin: 15px auto auto auto;
    display: flex;
    border: 1px solid #eee;
    border-radius: 10px;
}

.playground {
    width: 90vw;
    z-index: 1;
}

.block {
    cursor: default;
    border: none;
    color: #FFF;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Metropolis', 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: max-content;
    touch-action: none;
    user-select: none;
    cursor: grab;
}

.block input {
    margin: 0 10px;
    cursor: default;
    border: none;
    border-radius: 0 10px;
    outline: none;
    height: 95%;
    -webkit-tap-highlight-color: transparent;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Metropolis', 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    height: max-content;
}

.block.basic {
    background-color: #3C82F4;
}

.block.event {
    background-color: #10b41e;
}

.blockList .block.basic {
    margin: 15px;
    border-radius: 15px 15px 15px 0;
}

.blockList .block.event {
    margin: 15px;
    border-radius: 15px;
}

.blockList .block.event .blocks {
    display: none;
}

.playground .block.event .blocks .block.basic {
    margin: 0;
    border-radius: 15px 15px 15px 0;
}

.playground .block.event {
    margin: 15px;
    border-radius: 15px;
    width: max-content;
}

.playground .block.event .blocks {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    background-color: white;
    border-radius: 15px 15px 15px 0;
    min-height: 20px;
    padding: 10px;
    margin: 0 0 0 10px;
}

.noblock {
    color: #757575;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.noblock .title {
    font-weight: 600;
    font-size: 1.7rem;
}

.noblock .content {
    font-size: 1.2rem;
}

.hidden {
    display: none !important;
}

.context {
    min-height: 10px;
    min-width: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: white;
    width: max-content;
    height: max-content;
    position: absolute;
    z-index: 3;
    flex-direction: column;
}

.context div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.context div:last-child {
    padding: 10px;
    cursor: pointer;
    border-bottom: 0;
}

.console {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    min-height: 10px;
    min-width: 10px;
    height: max-content;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: white;
    padding: 20px;
}

.console .title {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.console .log, .console .info {
    background-color: #ffffff;
    border-radius: 3px;
    height: max-content;
    width: max-content;
    padding: 5px;
    color: black;
}

.console .error {
    background-color: #db4141;
    border-radius: 3px;
    height: max-content;
    width: max-content;
    color: white;
    padding: 5px;
}

.console .warn {
    background-color: #fffb1c;
    border-radius: 3px;
    height: max-content;
    width: max-content;
    color: black;
    padding: 5px;
}

.dim {
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.541);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}