* {
    font-family: 'Metropolis', 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#blokode {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

button {
    width: fit-content;
    height: fit-content;
    display: block;
    border: none;
    border-radius: 7px;
    background-color: #3C82F4;
    color: #FFF;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Metropolis Semi Bold', 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
}

.blocks {
    position: absolute;
    top: calc(3vh + 30px);
    left: 0;
    margin: 10px;
    border: 1px solid #eee;
    height: calc(100% - 20px);
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
}

.block {
    cursor: default;
    display: block;
    border: none;
    border-radius: 0 10px;
    color: #FFF;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Metropolis', 'Spoqa Han Sans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: #3C82F4;
    width: fit-content;
    position: relative;
    margin: 10px 0 10px 0;
}

.hidden {
    display: none;
}

.dragged {
    transform: translateY(-100%);
    margin: 0;
}

.bloKategory div {
    border-radius: 0 10px;
    width: max-content;
}

.bloKategory.testCategory div {
    background-color: #3C82F4;
}

.playground {
    height: fit-content;
    width: 70vw;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.line {
    width: 100%;
    align-items: center;
}

.line-number {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.blockList {
    display: none;
}